body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
}
nav ul li a:hover {
    color: #3498db;
}

.banner {
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    text-align: center;
    padding: 50px;
    color: white;
}

.banner h1 {
    font-size: 3em;
}

.banner button {
    font-weight: bolder;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: lightgray;
    border-radius: 10px;
}

.nyitvatartas {
    padding-top: 5px;
    
    text-align: center;
    font-size: 1.5em;
}

.napok {
    display: flex;
    justify-content: center;
}

.nap {
    margin: 10px;
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 57px;
    font-size: 1.1em;
}
p {
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
}
table {
    width: 90%;
    margin: 25px 50px 50px;
    border-collapse: collapse;
    background-color: rgba(229, 229, 229, 0.8); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
table td {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
table img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
table p {
    margin: 5px 0;
}
.contact-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}
h1 {
    text-align: center;
}
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.member {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}